/BooXtore-ejb/build/
/BooXtore-ejb/dist/
/BooXtore-war/build/
/build/
/BooXtore-library/dist/
/BooXtore-library/build/
/BooXtore-war/dist/
/nbproject/private/
/BooXtore-war/nbproject/private/
/BooXtore-ejb/nbproject/private/
/BooXtore-library/nbproject/private/
dist/gfdeploy/BooXtore/
BooXtore-library/src/META-INF/persistence.xml
/BooXtore-admin/nbproject/private/
/BooXtore-admin/build/
/BooXtore-admin/dist/
BDD/BooXtore.trace.db
*.ear
*.jar
*.war
/BooXtore-webserv/nbproject/private/
/BooXtore-webserv/build/
!/BooXtore-war/pepper-grinder-1.0.8.jar