/BooXtore-ejb/build/
/BooXtore-ejb/dist/
/BooXtore-war/build/
/build/
/BooXtore-library/dist/
/BooXtore-library/build/
/BooXtore-war/dist/
/nbproject/private/
/BooXtore-war/nbproject/private/
/BooXtore-ejb/nbproject/private/
/BooXtore-library/nbproject/private/
dist/gfdeploy/BooXtore/
BDD/BooXtore.trace.db
